body {
    background-color: #4F4287;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: inline-block;    
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-top: 10px;
}

header > a:first-of-type{
    display: inline-block;
    float: left;
    margin-left:20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
}

header > img {
    display: inline-block;
    height: 15px;
    float: left;
    margin-top: 7px;
}

header > nav {
    display: inline-block;
    margin-top: 8px;
    float: right;
}

nav > a {
    color: white;
    display: inline-block;
    float: left;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
}
nav > a:last-of-type {

}

body > main {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-top: 80px;
}

main > img {
    display: inline-block;
    width: 45%;
    float: left;
}

main > div {
    display: inline-block;
    float: right; 
    margin-left: 10px;
    width: 40%;
    color:white;
}

div > h1 {
    width: 100%;
    font-size:35px;
    text-transform: uppercase;
    line-height: 1.4;
    margin: 0;
}

h1 > span {
    color:red;
}

div > p {
    font-size:16px;
    margin: 0;
    line-height: 1.6;
    margin-top: 20px;
}

div > a {
    text-decoration: none;
    padding: 7px;
    padding-left: 28px;
    padding-right: 28px;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 41px;
    margin-left: 10px;
    font-size: 14px;
    border: 2px dashed red;
    border-radius: 19px;
}
footer {
    display:inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-top: 200px;
    }

footer > div:first-of-type {
    width: 400px;
    background-color: yellow;
}
div > nav {

}
footer > div:last-of-type {
    width: 400px;
    background-color: yellow;
}

div > nav {
    
}