body {
    display: inline-block;
    background-color: #4F4287;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body > header {
    display: inline-block;    
    width: 800px;
    margin-left: calc(50% - 400px);
}

header > img {
    display: inline-block;
    height: 20px;
}

header > nav {

}

nav > div > h3 {

}

nav > a {

}

body > main {

}

main > img {

}

